@using NikonRepo
@model List<NikonRepo.Produkter>

@{
    ViewBag.Title = @ViewBag.Kategori + " - Produkter";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Kategori</h2>
    </div>
</div>
<div class="row">
    <div class="large-3 columns">

        @RenderPage("~/Views/Shared/SoegeBox.cshtml")
    </div>
    <div class="large-9 columns">
        <div class="row">
            <div class="small-12 columns">
                @foreach (Produkter prod in @Model)
                {

                    <div class="produkt row">
                        <div class="produktheader small-12 columns">
                            <h3>@prod.Navn</h3>
                        </div>
                        <div class="small-12 columns">
                            <div class="row">
                                <div class="large-2 small-12 columns">
                                    <img src="/content/Images/ProduktBilleder/@prod.Billede" alt="@prod.Billede" />
                                </div>
                                <div class="large-4 small-6 columns">
                                    Varenummer: @prod.Varenummer
                                    <br />

                                    @{
                                        string tilbud = string.Empty;
                                    }
                                    @if (prod.Tilbudspris > 0)
                                    {
                                        @:Pris: <span class="HarTilbud">@prod.Pris kr.</span>
                                    tilbud = "<br />Nu kun:" + prod.Tilbudspris + " kr.";
                                    }
                                    else
                                    {
                                        @:Pris: <span class="IngenTilbud">@prod.Pris kr.</span>
                                    tilbud = "<br/>";
                                    }

                                    <br />
                                    Leveringstid: @prod.Leveringstid
                                </div>
                                <div class="large-4 small-6 columns">
                                    Producent: @prod.Producent
                                    @Html.Raw(tilbud)
                                    <br />
                                    Lager antal: @prod.Lagerantal
                                </div>
                                <div class="large-2 small-12 columns">
                                    @{
                                        string color = string.Empty;
                                        if (@prod.Lagerantal >= 25)
                                        {
                                            color = "rgb(0,255,0);";
                                        }
                                        else if (@prod.Lagerantal <= 0)
                                        {
                                            color = "rgb(255,0,0);";
                                        }
                                        else
                                        {
                                            int red = Convert.ToInt16(Math.Round((25 - @prod.Lagerantal) * 10.2));
                                            int green = Convert.ToInt16(Math.Round(10.2 * @prod.Lagerantal));
                                            color = "rgb(" + red + "," + green + ",0);";
                                        }

                                    }
                                    <div style="background-color: @color" class="lagerstatus"></div>
                                    <a href="/Home/Produkt/@prod.ID">[ Se Mere]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                                        }
            </div>
        </div>

    </div>
</div>